 .iphone14pr{
    background-color: black;
 }
.iphone14{
    color: white;
}
.pro{
    color: white;
}



.iphon14{
    background-color: #fafafa;
}



.Watch{
    background-color: black;
}
.watch text{
    color: white;
}.serie{
    color: red;
}
.A{
    color: white;
}
.W{
    color: white;
}
.L{
    color: blue;
}
.B{
    color: blue;
}